.page-header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--header-border-color);
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.page-header__nav {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-grow: 1;
        justify-content: space-between;
    }
}

.site-nav {
    display: none;

    & .site-nav__link {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    & .site-nav__item:not(:last-child) {
        margin-right: 50px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.contacts-header {
    display: none;
    padding-top: 21px;
    padding-bottom: 21px;

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        & .site-nav__item:not(:last-child) {
            margin-right: 30px;
        }
    } 
}

.site-nav__link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--active {
        color: var(--accent-color);
        position: relative;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
}

.site-nav__link-contacts {
    color: var(--primary-text-color);
    font-size: 12px;

    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
}

.contacts-header__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .site-nav__link:hover & {
        fill: var(--accent-color);
    }

    .site-nav__link:focus & {
        fill: var(--accent-color);
    }
}